@font-face {
  font-family: Chandon;
  src: url(font/f_grotesk_bold.otf);
}

body{
  font-family: 'Chandon';
  overflow: hidden !important;
}


.App {
  display: flex;
  min-height: 100vh;
  background-color: #F7CDB2;
  justify-content: center;
  align-items: center;
}

.left {
  /* width: 3163px;
  height: 5741px; */
  width: 80%;
  height: 87vh;
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}


.clipped {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 87vh;
  background: #F2E9DB;
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
  z-index: 1;
  overflow: hidden;
}


.container-start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button-start{
  z-index: 10;
  position: absolute;
}


.starClip {
  background-color: rgba(0, 0, 0, 0.186);
  box-shadow: 0.5vh 0.5vh 1.3vh rgba(0, 0, 0, 0.1), inset 0.5vh 0.5vh 2vh rgba(0, 0, 0, 0.1) ;
  height: 20vh;
  width: 20vh;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-clip-path: url(#starClip);
  clip-path: url(#starClip);
  z-index: 15;
}




/* .right {
  position: absolute;
  width: 800px;
  height: 450px;
  background-color: yellow;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  margin: 12px;
  bottom: 0;
} */




.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 3;
}


.inside-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}


.input-container__on{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.684) 0%, rgba(255,255,255,0) 100%);
  width: 50%;
  border-radius: 10rem;
  border: 1px solid #fff ;
  margin: 3vh;
  box-shadow: 0.5vh 0.5vh 1.3vh rgba(0, 0, 0, 0.1), inset 0.5vh 0.5vh 2vh rgba(0, 0, 0, 0.1) ;

}



.input-container__off{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 50%;
  border-radius: 10rem;
  margin: 3vh;
}


.input-radio{
  display: flex;
  background-color: #000;
}



input[type="radio"] {
  outline: 0.2vh solid #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(255, 255, 255, 0.346);
  margin: 0;
  font: inherit;
  color: #fff;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  margin-top: 5vh;
}



input[type="radio"]:checked {
  outline-color: var(--checked-color);
  background-color: #fff;
  -webkit-animation: outline-checked;
          animation: outline-checked;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.069);
}

@-webkit-keyframes outline-checked {
  0% {
      outline-offset: 0;
  }

  100% {
      outline-offset: -0.2rem;
  }
}

@keyframes outline-checked {
  0% {
      outline-offset: 0;
  }

  100% {
      outline-offset: -0.2rem;
  }
}


.shape{
  width: 80%;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-container{
  display: flex;
  width: 100%;
  height: 7.3%;
  position: absolute;
  z-index: 9;
}


.btn-next{
  display: flex;
  width: 50%;
  background-image: url(../src/svg/btn-next.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.btn-back{
  display: flex;
  width: 50%;
  background-image: url(../src/svg/btn-back.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-restart{
  display: flex;
  width: 50%;
  background-image: url(../src/svg/btn-restart.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



.img_carrousel{
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  z-index: 1;
}