@font-face {
  font-family: Chandon;
  src: url(font/f_grotesk_bold.otf);
}


::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {}


body {
  font-family: 'Chandon';
  overflow: hidden !important;
  text-transform: uppercase;
  color: #101820;
  overflow: hidden;
}

.container-scroll {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  align-items: center;
}


.d-flex {
  display: flex !important;
}

h1 {
  z-index: 30;
  font-size: 2.6vh;
}

.App {
  display: flex;
  min-height: 100vh;
  background: #F2E9DB;
  justify-content: center;
  align-items: center;
}

.left {
  /* width: 3163px;
  height: 5741px; */
  width: 100%; /*86*/
  height: 100vh; /*92*/
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}


.clipped {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}


.container-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button-start {
  z-index: 10;
  position: absolute;
  margin-bottom: 8vh;
}


.starClip {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  filter: drop-shadow(0.1vh 0.1vh 0.3vh #000);
  height: 25vh;
  width: 25vh;
  -webkit-clip-path: url(#starClip);
  clip-path: url(#starClip);
  z-index: 30;
  color: #fff;
}




/* .right {
  position: absolute;
  width: 800px;
  height: 450px;
  background-color: yellow;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  margin: 12px;
  bottom: 0;
} */




.main-container {
  /* align-self: center; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* z-index: 3; ???*/
}


.inside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50vh;
}


.input-container__on {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.351) 0%, rgba(255, 255, 255, 0) 100%);
  width: 33%;
  border-radius: 100rem;
  border: 1px solid #fff;
  margin: 3vh;
  box-shadow: 0.5vh 0.5vh 1.3vh rgba(0, 0, 0, 0.1), inset 0.5vh 0.5vh 2vh rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}



.input-container__off {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 33%;
  border-radius: 10rem;
  margin: 3vh;
  transition: all 0.3s;
}


.input-radio {
  display: flex;
  background-color: #000;
}



input[type="radio"] {
  outline: 0.16vh solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.346);
  box-shadow: 0.2vh 0.2vh 1.3vh rgba(0, 0, 0, 0.1), inset 0.1vh 0.1vh 2vh rgba(0, 0, 0, 0.1);
  margin: 0;
  font: inherit;
  color: #fff;
  width: 3vh;
  height: 3vh;
  padding: 0.5vh;
  border-radius: 50%;
  /* margin-top: 5vh; */
  transition: all 0.5s;
}



input[type="radio"]:checked {
  background-color: rgba(255, 255, 255, 0.342);
  padding: 0.5vh;
  outline: #fff;
  border: 2px solid #fff;
  outline-color: transparent;
  -webkit-animation: outline-checked;
  animation: outline-checked;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.069);
}


input[type="radio"]:checked::before {
  content: "";
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes outline-checked {
  0% {
    outline-offset: 0;
  }

  100% {
    outline-offset: -0.2rem;
  }
}

@keyframes outline-checked {
  0% {
    outline-offset: 0;
  }

  100% {
    outline-offset: -0.2rem;
  }
}


input[type="text"] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-wrap: wrap !important;
  flex-shrink: 1;
  text-align: center;
  width: 70%;
  background-color: rgba(214, 214, 214, 0.124);
  border: 1px solid #000;
  margin-bottom: 1vh;
  font-size: 2vh !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  font-family: 'Chandon';
  height: 100%;
  white-space: pre-wrap;
  /* or pre-line */
  display: none;
}

.textInput {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 30vh;
  height: 20vh;
  background-color: rgba(214, 214, 214, 0.124);
  border: 1px solid #000;
  margin-bottom: 1vh;
  font-size: 2vh !important;
  flex-wrap: wrap !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  font-family: 'Chandon';
  white-space: pre-wrap;
  /* or pre-line */
  text-overflow: clip;
  text-align: center;
  padding-top: 26%;
  padding-left: 1vh;
  padding-right: 1vh;
}

.textInput::placeholder {
  padding-top: 5%;
  justify-content: center;
}



input[type="text"]::placeholder {
  text-transform: uppercase;
  font-family: 'chandon';
  font-size: 2vh !important;
}

input:focus::placeholder {
  color: transparent;
}

.hg-theme-default {
  background-color: #F2E9DB !important;
  color: #000 !important;
  font-size: 2vh !important;
  font-family: 'Chandon' !important;
}

.hg-theme-default .hg-button {
  height: 3vh !important;
  background: rgb(255, 255, 255) !important;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.351) 0%, rgba(255, 255, 255, 0) 100%) !important;
  border-radius: 100rem !important;
  box-shadow: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.1), inset 0.5vh 0.5vh 2vh rgba(0, 0, 0, 0.1) !important;
  border: 0.1vh solid #fff;
  transition: 0.2s ease-out;
}

.hg-button:hover {
  transform: scale(1.1);
  box-shadow: 0.1vh 0.1vh 0.3vh rgba(0, 0, 0, 0.5), inset 0.5vh 0.5vh 2vh rgba(0, 0, 0, 0.1) !important;
}

.simple-keyboard {
  width: 100% !important;
  padding-left: 5vh !important;
  padding-right: 5vh !important;
}

.hg-theme-default .hg-row .hg-button-container, .hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 0.3vh !important;
}


.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 0.6vh !important;
}

.shape {
  width: 86%;
  filter: drop-shadow(0.3vh 0.3vh 0.5vh rgba(0, 0, 0, 0.11));
  margin-bottom: 1vh;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-container {
  display: flex;
  width: 100%;
  height: 7.3%;
  z-index: 9;
}


.btn-next {
  display: flex;
  width: 50%;
  background-image: url(../src/svg/btn-next.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.btn-back {
  display: flex;
  width: 50%;
  background-image: url(../src/svg/btn-back.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-restart {
  display: flex;
  width: 100%;
  background-image: url(../src/svg/btn-restart.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



.img_carrousel {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100vh;
  z-index: 1;
}

.logo {
  width: 3.3vh;
  padding-top: 17vh;
}

.container-start {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 87vh;
  z-index: 19;
  overflow: hidden;
}

.container-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 19;
}

input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.base {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
}

.gold_background {
  background-color: rgb(255, 208, 150);
}

.white_background {
  background-color: white;
}

.base-text {
  position: absolute;
  top: 15vh;
  width: 40vw;
  text-align: center;
  font-size: 2vh;
}

.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  z-index: 2;
  border-radius: 25px;
  top: 10vh;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, .2);
}

.slider_imgs {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}